body {
 font-size: 14px;
 font-family: verdana, sans-serif, arial;
}

h1 {
 padding-top: 5px;
 padding-bottom: 10px;
 margin: 0px;
 font-size: 22px;
}
h2 {
 font-size: 18px;
 padding-top: 3px;
 padding-bottom: 5px;
 margin: 0px;
}
h3 {
 font-size: 14px;
 padding-top: 1px;
 padding-bottom: 2px;
 margin: 0px;
}
p {
 padding-top: 0px;
 margin-top: 2px;
 padding-left: 5px;
}
img {
 border: 0px;
}
li {
 padding-bottom: 3px;
}

hr {
  height: 1px;
  border: 0px;
  background: #808080;
}

/** Doc **/

.note {
 font-size: 12px;
/* color: #A00000;
 background-color: transparent;*/
 margin: 5px;
}
.note-tag {
 color: #A00000;
 background-color: transparent;
}
.hint {
 font-size: 12px;
 margin: 5px;
}
.hint-tag {
 color: #00A000;
 background-color: transparent;
}
/** Common **/

.indent {
 padding-left: 20px;
}
.keyword {
 font-weight: bold;
 color: #000080;
 background-color: transparent;
}
.special-keyword {
 font-weight: bold;
 color: #008080;
 background-color: transparent;
}
.symbol {
 font-weight: normal;
 color: #FF0000;
 background-color: transparent;
}
.comment {
 font-weight: normal;
 color: #800000;
 background-color: transparent;
}

/** Header **/

div.header {
 border:1px solid #CCCCCC;
 background-color: #EAEAEA;
 padding: 2px;
 margin-bottom: 5px;
}
div.header-title {
 float: right;
 font-size: 14px;
 font-weight: bold;
}
div.footer {
 border:1px solid #CCCCCC;
 background-color: #EAEAEA;
 position: fixed;
 bottom: 1px;
 left: 1px;
 right: 1px;
 padding: 2px;
}
div.footer-title {
 float: right;
 font-size: 14px;
 font-weight: bold;
}

span.buttons {
 color: #000000;
 background-color: #F0F0F0;
}
span.button {
 color: #000000;
 background-color: transparent;
 padding-left: 4px;
 padding-right: 4px;
}
span.active-button {
 font-weight: bold;
 color: #FFFFFF;
 background-color: #444444;
 padding-left: 2px;
 padding-right: 2px;
}
a.button, a.button:active, a.button:focus, a.button:link, a.button:visited {
 font-weight: bold;
 color: #000000;
 background-color: transparent;
 padding-left: 2px;
 padding-right: 2px;
}
a.button:hover {
 font-weight: bold;
 color: #000000;
 background-color: #CCCCCC;
 padding-left: 2px;
 padding-right: 2px;
}

/** Index **/

ul.index-list {

}
span.index-small {
 font-size: 12px;
}

/** Cluster **/

ul.cluster-tree {
}
ul.cluster-tree h3 {
 padding: 0px;
 margin: 0px;
 padding-top: 3px;
 padding-bottom: 3px;
}
span.cluster-name {
 color: #A04444;
 background-color: transparent;
 white-space: nowrap;
}
a.cluster-name, a.cluster-name:active, a.cluster-name:focus, a.cluster-name:link {
 color: #BB3344;
 background-color: transparent;
 text-decoration: underline;
}
a.cluster-name:visited {
 color: #800000;
 background-color: transparent;
 text-decoration: underline;
}
a.cluster-name:hover {
 color: #FF4455;
 background-color: transparent;
 text-decoration: underline;
}

/** Indexing clause **/

.indexing {
}
.indexing-list {
}
.indexing-tag {
 padding: 0px;
 margin: 0px;
 font-weight: normal;
 font-style: italic;
}
.indexing-body {
}
.indexing p {
 padding-top: 3px;
 padding-bottom: 3px;
 margin: 0px;
}

/** Class: Common **/

.class {
}
span.class-name, div.class-name {
 color: #0000FF;
 background-color: transparent;
}
a.class-name, a.class-name:active, a.class-name:focus, a.class-name:link {
 color: #0000FF;
 background-color: transparent;
 text-decoration: underline;
}
a.class-name:visited {
 color: #0000AA;
 background-color: transparent;
 text-decoration: underline;
}
a.class-name:hover {
 color: #5533DD;
 background-color: transparent;
 text-decoration: underline;
}

.class-name-comment {
 font-weight: normal;
 font-style: italic;
 color: #000000;
 background-color: transparent;
}

/** Class: Header **/

/** Assertion **/

.assertion-tag {
 font-weight: normal;
 font-style: italic;
 color: #000000;
 background-color: transparent;
}

/** Feature **/

.feature {
 margin-bottom: 12px;
}
.feature p {
 padding: 0px;
 margin: 0px;
}
.feature-body {

}
span.feature-name {
 color: #008000;
 background-color: transparent;
}
a.feature-name, a.feature-name:active, a.feature-name:focus, a.feature-name:link {
 color: #008000;
 background-color: transparent;
 text-decoration: underline;
}
a.feature-name:visited {
 color: #007000;
 background-color: transparent;
 text-decoration: underline;
}
a.feature-name:hover {
 color: #00D000;
 background-color: transparent;
 text-decoration: underline;
}

.feature-name-comment {
 font-weight: normal;
 font-style: italic;
 color: #000000;
 background-color: transparent;
}

/** Featur list **/

.feature-list {
 float: right;
 font-size: 12px;
 border: 1px dotted black;
 float: right;
 padding: 10px;
}
.feature-list h2 {
 padding: 0px;
 padding-bottom: 5px;
 margin: 0px;
}
.feature-list-clauses {
 padding: 0px;
 margin: 0px;
 list-style-type: none;
}
.feature-list-clauses li {
 padding: 0px;
 margin: 0px;
}
.feature-list-features {
 padding: 5px;
 margin: 0px;
 list-style-type: none;
}
.feature-list-features li {
 padding: 0px;
 margin: 0px;
}

/** Footer */
.footer {
 clear: both;
}
